doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="css/ink.css")
  body
    table.body
      tr
        td.center(align="center", valign="top")
          center
            //- Email Content